<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comt.leo.picker.moreaboutview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        >
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MyViewandOnewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyViewandTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyViewandThreeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.MyViewandFourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyViewandFiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyViewandSixActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyViewandSevenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CircleProgressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PorterDuffActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.porterduffsons.NormalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.porterduffsons.ModeClearActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.porterduffsons.ModeClearBetterActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.porterduffsons.SimpleCircleImageActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.BezierAbout.BezierActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BezierAbout.SimpleSecondOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BezierAbout.ThirdOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BezierAbout.BezierAnimActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyTickActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SurfaceViewAbout.SufaceIntroduceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CubeAbout.CubeMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CubeAbout.AttrbuteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CubeAbout.AttrbuteWelComeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CubeAbout.MatrixCameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CubeAbout.MatrixCameraSecondActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.CubeAbout.MatrixCameraTwoSizeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyAttributeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyAnimOneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyAnimTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyAnimThreeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyAnimFourActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.attributeanim.MyZanShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.viewpagerandfragment.MagicIndicatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.systemviewself.SystemViewSelfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.systemviewself.RatingBarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.systemviewself.ToggleButtonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.systemviewself.SeekBarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.systemviewself.ProgressBarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PingyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.StickeyHeadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ViewPagerSelfActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RecycleViewTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.expresspkg.ExprssActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.expresspkg.SingleChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.viewpagerandfragment.ViewFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.viewpagerandfragment.PagerAndPagerActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".popupwindow.PopupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".dialog.DialogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".toast.ToastActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RecycleActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>